<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>hipmodule</id>
	<name>HIP Module OMOD</name>
	<version>0.1-SNAPSHOT</version>
	<package>org.bahmni.module.hip</package>

	<author>Stream 1</author>
	<description>
		Hip module omod
	</description>

	<activator>org.bahmni.module.hip.BasicModuleActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrs.platform.version}</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module version="1.0.0-20200925.143534-163">org.openmrs.module.fhir2</require_module>
		<require_module>org.openmrs.module.emrapi</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
	</require_modules>
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->

	<!-- Required Global Properties -->
	<globalProperty>
		<property>bahmniHip.healthFacilityRegistryId</property>
		<defaultValue>HFR_ID</defaultValue>
		<description>
			Unique identifier from the Health Facility Registry
		</description>
	</globalProperty>
	<globalProperty>
		<property>bahmniHip.healthFacilityName</property>
		<defaultValue>HFR_NAME</defaultValue>
		<description>
			Name of the facility as in Health Facility Registry
		</description>
	</globalProperty>
	<globalProperty>
		<property>bahmniHip.healthFacilitySystem</property>
		<defaultValue>http://affinitydomain.com/hfr</defaultValue>
		<description>
			The system URL where Health Facility Registry is registered
		</description>
	</globalProperty>
	<globalProperty>
		<property>bahmniHip.practitionerSystem</property>
		<defaultValue>http://affinitydomain.com/practitioner</defaultValue>
		<description>
			The system URL where Practitioners are registered
		</description>
	</globalProperty>
	<globalProperty>
		<property>bahmniHip.healthFacilityUrl</property>
		<defaultValue>http://www.myorg.com/</defaultValue>
		<description>
			Website URL of the organization/hip
		</description>
	</globalProperty>
	<!-- Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

